/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */ 

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

        macros {
            ctrl_ctv: ctrl_ctv {
                label = "ctrl_ctv";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_press &kp LCTRL>
                    , <&macro_tap &kp C &kp T &kp V>
                    , <&macro_release &kp LCTRL>
                    , <&macro_tap &kp RET>
                    ;
            };
        };

        combos{
                compatible = "zmk,combos";
                combo_alt_shift_up {
                    timeout-ms = <50>;
                    key-positions = <6 18>;
                    bindings = <&kp LA(LS(UP_ARROW))>;
                };

                combo_alt_shift_down {
                    timeout-ms = <50>;
                    key-positions = <18 30>;
                    bindings = <&kp LA(LS(DOWN_ARROW))>;
                };

                combo_ctrl_enter {
                    timeout-ms = <50>;
                    key-positions = <6 7>;
                    bindings = <&kp LC(ENTER)>;
                };
                combo_ctrl_f {
                    timeout-ms = <50>;
                    key-positions = <4 5>;
                    bindings = <&kp LC(F)>;
                };
                combo_ctrl_ctv {
                    timeout-ms = <50>;
                    key-positions = <16 17>;
                    bindings = <&ctrl_ctv>;
                };
                combo_alt_f4 {
                    timeout-ms = <50>;
                    key-positions = <10 11>;
                    bindings = <&kp LA(F4)>;
                };

        };

         
        keymap {
                compatible = "zmk,keymap";

                default_layer { 
                        label = "Base";
                        bindings = <
// ╭──────────┬───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────────┬───────────────────┬───────────────┬────────────╮
// | j        |  f            |  u          |  p          |  d          |  y          | |  g          |  v          |  h              |  ö                |  ő            |  ó         |
     &kp J       &kp F           &kp  U        &kp P         &kp D         &kp Z           &kp G         &kp V         &kp H             &kp NUMBER_0        &kp LBKT        &kp EQUAL      
// ├──────────┼───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼───────────────────┼───────────────┼────────────┤
// | o        |  t            |  l          |  e          |  s _        |  á          | |  i _        |  n          |   a             |  k                |   r           | ű          |
     &kp O       &kp T           &kp L         &kp E         &kp S         &kp SQT         &kp I         &kp N          &kp A            &kp K                &kp R         &kp BSLH  
// ├──────────┼───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼───────────────────┼───────────────┼────────────┤    
// | í        |  ú            |  ü          |  c          |   z         |  b          | |  é          |  m          |  , (.)          |  - (_)            |   x           |  w(q)      | 
     &kp NUBS    &kp RBKT       &kp MINUS      &kp C          &kp Y        &kp B           &kp SEMI      &kp M        &hm DOT COMMA     &hm LS(FSLH) FSLH    &kp X           &hm Q W
// ╰──────────┴───────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼───────────────────┴───────────────┴────────────╯
//                                          |  SHIFT      |             |  SPACE      | |  ENTER      |             |  CTRL           |                           
                                               &kp LSHIFT     &mo 1        &kp SPACE       &kp RET       &mo 2         &kp LCTRL
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────────╯                                         

                        >;
                };


                lower_layer { 
                        label = "NAVI";
                        bindings = <
// ╭──────────┬──────────────┬─────────────┬───────────────┬──────────────┬─────────────────╮ ╭────────────────────┬───────────────┬────────────────────┬────────────────┬──────────────┬────────────╮
// |          |              |             |               |              |                 | |                    | UP(PAGE UP)   |                    | PRINTSCREEN    |              |   ESC      |    
      &none       &none        &none          &none           &none          &none               &none               &hm PG_UP UP     &none               &kp PRINTSCREEN    &none          &kp ESC
// ├──────────┼──────────────┼─────────────┼───────────────┼──────────────┼─────────────────┤ ├────────────────────┼───────────────┼────────────────────┼────────────────┼──────────────┼────────────┤
// |          | win/command  |  ALT        | SHIFT         |  CTRL        | ALT GR          | |  LEFT(HOME)        |  TAB          | RIGHT(CTRL +R)     |  BSPC          |  DEL         |            | 
      &none     &kp LGUI        &kp LALT      &kp LSHIFT       &kp LCTRL     &kp RALT            &hm LC(LEFT) LEFT    &kp TAB        &hm LC(RIGHT) RIGHT   &kp BSPC         &kp DEL         &none
// ├──────────┼──────────────┼─────────────┼───────────────┼──────────────┼─────────────────┤ ├────────────────────┼───────────────┼────────────────────┼────────────────┼──────────────┼────────────┤
// |          |  ctrl + y    | ctrl + z    | ctrl + x      |  ctrl + c    |   ctrl + V      | |   HOME             | DOWN(PG_DN)   |   END              |                |  BSPC        |            |       
       &none     &kp LC(Z)    &kp LC(Y)     &kp LC(X)        &kp LC(C)       &kp LC(V)           &kp HOME           &hm PG_DN DOWN    &kp END             &none            &kp BSPC          &none
// ╰──────────┴──────────────┴─────────────┼───────────────┼──────────────┼─────────────────┤ ├────────────────────┼───────────────┼────────────────────┼────────────────┴──────────────┴────────────╯
//                                         |               |              |                 | |                    |               |                    |   
                                                &trans          &trans         &trans              &trans              &mo 3          &mo 1   
//                                         ╰───────────────┴──────────────┴─────────────────╯ ╰────────────────────┴───────────────┴────────────────────╯                                         

                        >;
                };


                raise_layer { 
                        label = "SIMBOL";
                        bindings = <
// ╭────────────┬─────────────────┬─────────────┬─────────────────┬─────────────────┬─────────────────────╮ ╭─────────────┬─────────────┬─────────────┬───────────────────┬───────────┬───────────╮
// |  €         |   ~             |  #          |  ' (")          |    / \          |  ( )                | |  7          |   8         |  9          |  mac 0            |           |           |     
      &kp RA(U)     &kp RA(N1)       &kp RA(X)     &hm AT APOS      &hm RA(Q) CARET  &hm LPAR LS(NUMBER_8)     &kp N7         &kp N8       &kp N9        &kp KP_N0           &trans       &none  
// ├────────────┼─────────────────┼─────────────┼─────────────────┼─────────────────┼─────────────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────┼───────────┼───────────┤    
// |  &         |  *              |  %          |  =              |  @              |  [ ]                | |  4          |   5         |  6          |  0                |           |           |     
      &kp RA(C)   &kp KP_MULTIPLY   &kp PRCNT     &kp LS(N7)        &kp RA(V)          &hm RA(G) RA(F)         &kp N4          &kp N5       &kp N6       &kp KP_NUMBER_0     &trans       &none 
// ├────────────┼─────────────────┼─────────────┼─────────────────┼─────────────────┼─────────────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────┼───────────┼───────────┤
// | $          |  !              |  +          |  "|"            |  <>             |  { }                | |  1          |   2         |  3          | ctrl + /          |           |           |     
     &kp RA(SEMI)  &kp LS(N4)         &kp HASH      &kp RA(W)       &hm RA(Z) RA(M)    &hm RA(N) RA(B)         &kp N1         &kp N2       &kp N3       &kp LC(KP_DIVIDE)    &trans       &none   
// ╰────────────┴─────────────────┴─────────────┼─────────────────┼─────────────────┼─────────────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────┴───────────┴───────────╯
//                                              |                 |                 |                     | |             |             |             |     
                                                  &trans              &mo 3           &trans                   &trans        &trans        &trans
//                                              ╰─────────────────┴─────────────────┴─────────────────────╯ ╰─────────────┴─────────────┴─────────────╯                                         
                                                                                                                     
                        >;
                };

                f_keys_layer { 
                        label = "F_keys";
                        bindings = <
//╭───────┬──────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬──────────────┬─────────────┬───────────────┬──────────────╮
//|       |          |  F1         |  F2         |  F3         |  F4         | |bt prof clear|             |              |             |  BT1          | BT1          | 
   &none     &trans    &kp F1        &kp F2        &kp F3        &kp F4         &bt BT_CLR     &none        &none             &none        &bt BT_SEL 0   &bt BT_SEL 3   
//├───────┼──────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┼───────────────┼──────────────┤
//|       |          |  F5         |  F6         |  F7         |  F8         | |             |             |              |             |  BT2          | BT5          |
   &none     &trans     &kp F5        &kp F6        &kp F7        &kp F8          &none         &none        &none            &none        &bt BT_SEL 1   &bt BT_SEL 4
//├───────┼──────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┼───────────────┼──────────────┤
//|       |          |  F9         |  F10        |  F11        |  F12        | |             |             |              |             | BT3           |              | 
   &none     &trans     &kp F9        &kp F10       &kp F11       &kp F12         &none         &none         &none           &none       &bt BT_SEL 2    &none
//╰───────┴──────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┴───────────────┴──────────────╯
//                                 |             |             |             | |             |             |              |   
                                      &trans        &trans        &trans          &trans        &trans        &trans
//                                 ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴──────────────╯                                         

                        >;
                };

        };
};
